<% layout('layout') -%>

    <div class="row">
      <div class="large-12 columns">
        <% if(err) { %>
        <div data-alert class="alert-box warning round">
          <%= err %>
          <a href="#" class="close">&times;</a>
        </div>
      <% } %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>I have no idea how you found us, but I'm glad you're here! </h3>
          <p>This domain will host core JavaScript and CSS for Drupal.</p>
          <p>I'd highly recommend checking out the following projects, as they've all been used here:</p>
          <div class="row">
            <div class="large-4 medium-4 columns">
              <p><a href="http://drupal.org">Drupal</a><br />This is the first CMS we're supporting</p>
            </div>
            <div class="large-4 medium-4 columns">
              <p><a href="https://github.com/vlucas/jscompress.com">jscompress.com</a><br />Initial Node.js examples were pulled from this project.</p>
            </div>
            <div class="large-4 medium-4 columns">
              <p><a href="http://nodejs.org">Node.js</a><br />Generating the compressed files is done with Node.js</p>
            </div>
            <div class="large-4 medium-4 columns">
              <p><a href="https://github.com/mishoo/UglifyJS">UglifyJS</a><br />This library actually does the JavaScript compression.</p>
            </div>
            <div class="large-4 medium-4 columns">
              <p><a href="http://jquery.com">jQuery</a><br />What doesn't use this these days?</p>
            </div>
            <div class="large-4 medium-4 columns">
              <p><a href="http://github.com/zurb/foundation">Foundation</a><br />This is what you're looking at now.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
